# Python cache
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/
*.ipynb

# Virtual environments
venv/
.venv/
env/
.env/

# PyCharm
.idea/

# Output artifacts
AA_output/
other/
other/*.joblib
other/*.ipynb
DDC/
html_cache/

# Secrets
.env


# OS files
.DS_Store
Thumbs.db
